@charset "UTF-8";

body
{
    background-color: black;
    color: #000000;
}

div#caixa
{
    display: block;
    background-color: #ffffff;
    height: 30em;
    width: 25em;
    margin: auto;
    margin-top: 3em;
}

input#nota
{
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    margin:5em 1em 1em 12em;
    width: 5em;
    height: 1.2em;
    text-align: center;

}

p
{
    text-indent: 5px;
}