@charset "UTF-8";

body {
    background-color:#787aff;
    color: #ffff;
    font: 1.5em sans-serif;
}

div#quadrado
{
background-color: blue;
height: 10em;
width: 10em;
text-align: center;
line-height: 10em;
font-family: Arial, Helvetica, sans-serif;
margin: auto;
margin-top: 6em;
}